/* google fonts */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;700&display=swap");
/* variables */
/* Reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

ul {
  list-style-type: none; }

a {
  text-decoration: none; }

body {
  min-height: 100vh; }

/* Globals */
html {
  font-size: 62.5%;
  font-family: 'Montserrat', sans-serif;
  color: #D8D8D8;
  scroll-behavior: smooth; }

/* helpers */
.container {
  max-width: 1080px;
  margin: 0 auto;
  overflow: hidden; }

.flex-row {
  display: flex; }

.flex-column {
  display: flex;
  flex-direction: column; }

/* buttons */
.btn {
  display: inline-block;
  padding: 1rem 2rem;
  background-color: #242444;
  color: #D8D8D8;
  font-size: 2em;
  border-radius: 10px;
  border: 1px solid #9D32CF;
  transition: all .3s ease-in-out; }
  .btn:hover {
    background-color: #606079; }

@media (max-width: 300px) {
  .btn {
    padding: .8rem 1.5rem;
    font-size: 1.5em; } }

.gotopbtn {
  position: fixed;
  font-size: 5em;
  bottom: 5rem;
  right: 5rem; }

@media (max-width: 514px) {
  .gotopbtn {
    bottom: 2rem;
    right: 2rem; } }

/* layout */
.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 8rem 1fr 20rem;
  grid-template-areas: "header header header" "main   main   main" "footer footer footer"; }

.header {
  grid-area: header; }

.main {
  grid-area: main; }

.footer {
  grid-area: footer; }

/* header */
.header {
  background-color: #242444;
  padding: 0 20px; }

.navbar {
  height: 8rem;
  align-content: center;
  justify-content: center; }

.menu {
  gap: 15px;
  justify-content: center;
  align-items: center; }
  .menu .menu__link {
    padding: 1rem 1.5rem;
    border-bottom: 1px solid #242444;
    font-size: 2em;
    color: #D8D8D8;
    transition: all .3s ease-in-out;
    border-radius: 1rem; }
    .menu .menu__link:hover {
      border-bottom: 1px solid #D8D8D8;
      background-color: #D8D8D8;
      color: #303030; }

@media (max-width: 700px) {
  .navbar {
    display: none; } }

/* section home*/
.hero {
  height: 92vh;
  width: 100%;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%), url(../img/hero.jpg) no-repeat center;
  background-size: cover;
  background-attachment: fixed; }
  .hero .hero__texts {
    height: 92vh;
    width: 100%;
    justify-content: center;
    align-items: flex-start;
    padding: 0 2rem; }
    .hero .hero__texts h1 {
      font-size: 6em; }
    .hero .hero__texts p {
      font-size: 5em;
      margin-bottom: 1rem; }

@media (max-width: 380px) {
  .hero .hero__texts h1 {
    font-size: 4em; }
  .hero .hero__texts p {
    font-size: 3em; } }

@media (max-width: 700px) {
  .hero {
    height: 100vh; }
    .hero .hero__texts {
      height: 100vh; } }

/* section information */
.section__two {
  padding: 10px;
  justify-content: center;
  align-items: center; }
  .section__two .section__two-title {
    color: #303030;
    font-size: 5em;
    text-align: center;
    padding: 2rem 0; }
  .section__two .information {
    flex-basis: 30%;
    justify-content: center;
    align-items: center;
    gap: 0 20px; }
  .section__two .info__img {
    padding: 10px;
    height: 250px;
    width: 250px;
    border-radius: 50%; }
  .section__two .information__texts {
    color: #303030;
    flex-basis: 70%;
    text-align: center; }
    .section__two .information__texts .info__title {
      font-size: 2.5em;
      font-style: italic;
      font-weight: 400;
      line-height: 1.5; }
      .section__two .information__texts .info__title--blue {
        color: #9D32CF;
        font-weight: 700; }
    .section__two .information__texts .info__paragraph {
      font-size: 2.5em;
      font-style: italic;
      font-weight: 400;
      line-height: 1.5; }

@media (max-width: 380px) {
  .section__two .section__two-title {
    font-size: 3em; } }

@media (max-width: 640px) {
  .information {
    flex-wrap: wrap; }
  .section__two .information__texts .info__title {
    font-size: 2em;
    line-height: 1.7; }
  .section__two .information__texts .info__paragraph {
    font-size: 2em;
    line-height: 1.7; } }

/* section tecnologies */
.section__three {
  padding: 10px;
  background-color: #242444; }
  .section__three .tecnologies {
    padding: 5px; }
    .section__three .tecnologies .tecnologies__title {
      padding: 2rem 0;
      font-size: 5em;
      text-align: center;
      color: #D8D8D8; }
  .section__three .tecnologies__container {
    padding: 15px;
    display: grid;
    gap: 20px;
    text-align: center;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); }
    .section__three .tecnologies__container .tecnologies__square {
      padding: 20px;
      background-color: #606079;
      border-radius: 10px;
      transition: all .3s ease-in-out;
      border: 2px solid #606079;
      cursor: pointer; }
      .section__three .tecnologies__container .tecnologies__square:hover {
        transform: scale(1.1);
        border: 2px solid #9D32CF; }
      .section__three .tecnologies__container .tecnologies__square h4 {
        font-size: 2.5em;
        color: #D8D8D8;
        margin-top: 5px; }
      .section__three .tecnologies__container .tecnologies__square .tecnogies__logo {
        padding: 10px;
        height: 150px;
        width: 150px;
        object-fit: contain;
        object-position: center; }

@media (max-width: 1000px) {
  .section__three .tecnologies__container {
    grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr)); } }

@media (max-width: 580px) {
  .section__three .tecnologies__container {
    grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr)); } }

@media (max-width: 439px) {
  .section__three .tecnologies__container {
    grid-template-columns: repeat(auto-fill, minmax(18rem, 25rem)); } }

@media (max-width: 380px) {
  .section__three .tecnologies .tecnologies__title {
    font-size: 3em; } }

/* section projects */
.section__four {
  padding: 10px; }
  .section__four h3 {
    padding: 2rem;
    font-size: 5em;
    color: #303030; }
  .section__four .projects__container {
    padding: 15px;
    display: grid;
    gap: 20px;
    text-align: center;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr)); }
    .section__four .projects__container .projects {
      background-color: #242444;
      border-radius: 10px;
      text-align: center;
      padding: 10px; }
      .section__four .projects__container .projects .projects__img {
        height: 200px;
        width: 200px;
        border-radius: 50%;
        object-fit: cover;
        object-position: center; }
    .section__four .projects__container .projects__texts {
      color: #303030; }
      .section__four .projects__container .projects__texts h4 {
        font-size: 2.5em;
        padding-top: 10px;
        color: #9D32CF; }
      .section__four .projects__container .projects__texts p {
        font-size: 1.8em;
        padding: 10px;
        color: #D8D8D8; }
      .section__four .projects__container .projects__texts a {
        display: inline-block;
        color: #9D32CF;
        font-size: 1.8em;
        font-weight: 500;
        padding: 1.5rem 2.5rem;
        background-color: #D8D8D8;
        border-radius: 10px;
        border: 1px solid #9D32CF;
        transition: all .3s ease-in-out; }
        .section__four .projects__container .projects__texts a:hover {
          background-color: #606079; }

@media (max-width: 380px) {
  .section__four h3 {
    font-size: 3rem; } }

/* section contact */
.section__six {
  padding: 10px;
  background-color: #813B81; }
  .section__six h3 {
    padding: 2rem 0;
    font-size: 5em;
    color: #303030; }
  .section__six .form__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px; }
    .section__six .form__container .form__img {
      width: 100%;
      max-width: 35rem; }
  .section__six .form {
    padding: 10px;
    display: grid;
    width: 40rem;
    height: 40rem;
    gap: 10px; }
    .section__six .form .form__input {
      font-size: 1.8em;
      outline: none;
      border: none;
      border: 1px solid #A3A3B4;
      border-radius: 7px; }
      .section__six .form .form__input:focus {
        border: 1px solid #A3A3B4; }
    .section__six .form .form__input--message {
      padding: 50px;
      resize: none;
      padding: 2.8em 1.5em;
      margin-bottom: 1em; }
  .section__six .form__cta {
    font-family: inherit;
    background-color: #A3A3B4;
    color: #fff;
    font-size: 2rem;
    border: none;
    border-radius: 5px;
    border: 1px solid #9D32CF;
    cursor: pointer;
    font-weight: 400;
    transition: all .3s ease-in-out; }
    .section__six .form__cta:hover {
      background-color: #606079; }

@media (max-width: 250px) {
  .section__six .form .form__input {
    font-size: 1.5em; } }

@media (max-width: 380px) {
  .section__six h3 {
    font-size: 3em; } }

@media (max-width: 640px) {
  .section__six .form__container {
    justify-content: center;
    align-items: center; }
  .form__img {
    display: none; } }

/* footer */
.footer {
  background-color: #242444;
  height: 20rem; }

.foo {
  height: 20rem;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .foo .foo__title {
    font-size: 2.5em;
    font-weight: 700;
    padding: 5px 0; }
  .foo .foo__p {
    font-size: 1.5em;
    color: #9D32CF;
    padding: 5px 0;
    font-weight: 500; }
  .foo .foo__email {
    font-size: 2em;
    padding: 5px 0; }
  .foo span {
    padding-right: 10px; }
  .foo .fa-brands {
    color: #D8D8D8;
    padding: 10px;
    font-size: 5em;
    transition: all .3s ease-in-out; }
    .foo .fa-brands:hover {
      transform: scale(1.2);
      color: #9D32CF; }

@media (max-width: 312px) {
  .foo .foo__email {
    font-size: 1.3em; } }
