/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;700&display=swap');

@import './utilities/variables';
@import './base/reset';
@import './base/helpers';
@import './components/buttons';
@import './partials/layout';

@import './partials/header';

@import './pages/home';
@import './pages/information';
@import './pages/tecnologies';
@import './pages/projects';
@import './pages/contact';

@import './partials/footer';