/* buttons */
.btn {
    display: inline-block;
    padding: 1rem 2rem;
    background-color: $color-primary;
    color: $color-white;
    font-size: 2em;
    border-radius: 1rem;
    border: 1px solid $color-terra;
    transition: all .3s ease-in-out;

    &:hover {
        background-color: $color-secondary;
    }
}

@media (max-width: 300px) {
    .btn {
        padding: .8rem 1.5rem;
        font-size: 1.4em;
    }
}

.gotopbtn {
    position: fixed;
    font-size: 5em;
    bottom: 5rem;
    right: 5rem;
    transition: transform .3s ease-in-out;

    &:hover {
        transform: scale(1.1);
    }
}

@media (max-width: 514px) {
    .gotopbtn {
        bottom: 2rem;
        right: 2rem;
    }
}
