/* header */
.header {
    background-color: $color-primary;
    padding: 0 2rem;
}
.navbar {
    height: 8rem;
    align-content: center;
    justify-content: center;
}

.menu {
    gap: 1.5rem;
    justify-content: center;
    align-items: center;

    .menu__link {
        padding: 1rem 1.5rem;
        border: 1px solid $color-primary;
        font-size: 2em;
        color: $color-white;
        transition: all .3s ease-in-out;
        border-radius: 1rem;

        &:hover {
            border: 1px solid $color-terra;
            background-color: $color-white;
            color: $color-black;
        }
    }
}

@media (max-width: 712px) {
    .navbar {
        display: none;
    }
}