/* layout */
.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 8rem 1fr 20rem;
    grid-template-areas:
    "header header header"
    "main   main   main"
    "footer footer footer";
}

.header {
    grid-area: header;
}

.main {
    grid-area: main;
}

.footer {
    grid-area: footer;
}