/* section contact pages*/
.section__contact{
    background-image: linear-gradient( 83.2deg,  rgba(150,93,233,1) 10.8%, rgba(99,88,238,1) 94.3% );
    height: 100vh;
    width: 100%;

    .form__position {
        height: 100vh;
        justify-content: center;
        align-items: center;

        .form {
            background-color: #fff;
            width: 90%;
            max-width: 40rem;
            border-radius: 1rem;
            padding: 5rem 2rem;
    
            .form__container {
                width: 100%;
                display: grid;
                gap: 1rem;
                grid-auto-columns: 100%;
                font-family: 'Montserrat', sans-serif;
    
                .form__title {
                    color: $color-black;
                    text-align: center;
                    font-size: $font-title;
                    margin-bottom: 1rem;
                }
    
                .form__input {
                    font-family: inherit;
                    font-size: 1.6em;
                    padding: 1rem 1.6rem;
                    outline: none;
                    border: none;
                    border: 1px solid $color-terra;
                    border-radius: .5rem;
                }
    
                .form__message {
                    @extend .form__input;
                    resize: none;
                    padding: 2.5rem 1.5rem;
                }
    
                .form__cta {
                    @extend .btn;
                    font-family: 'Montserrat', sans-serif;
                }
            }
        }
    }
}

.gohome {
    @extend .gotopbtn;
}

@media (max-width: 380px) {
    .section__contact .form__position .form .form__container .form__title {
        font-size: 3em;
    }
}

@media (max-width: 514px) {
    .gohome {
        bottom: 2rem;
        right: 2rem;
    }
}