/* section home*/
.hero {
    height: 92vh;
    width: 100%;
    background: linear-gradient(90deg, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0.5) 100%), url(../img/hero.jpg) no-repeat center;
    background-size: cover;
    background-attachment: fixed;

    .hero__texts {
        height: 92vh;
        width: 100%;
        justify-content: center;
        align-items: flex-start;
        padding: 0 2rem;

        & h1 {
            font-size: 6em;
        }
        
        & p {
            font-size: 5em;
            margin-bottom: 1rem;
        }

    }
}

@media (max-width: 380px) {
    .hero .hero__texts h1 {
        font-size: 4em;
    }

    .hero .hero__texts p {
        font-size: 3em;
    }
}

@media (max-width: 700px) {
    .hero {
        height: 100vh;
        
        .hero__texts {
            height: 100vh;
        }
    }
    
}