/* section information */
.section__two {
    padding: 10px;
    justify-content: center;
    align-items: center;
    
    .section__two-title {
        color: $color-black;
        font-size: 5em;
        text-align: center;
        padding: 2rem 0;
    }

    .information {
        flex-basis: 30%;
        justify-content: center;
        align-items: center;
        gap: 0 20px;
    }

    .info__img {
        padding: 10px;
        height: 250px;
        width: 250px;
        border-radius: 50%;
    }
    
    .information__texts {
        color: $color-black;
        flex-basis: 70%;
        text-align: center;
    
        .info__title {
            font-size: 2.5em;
            font-style: italic;
            font-weight: 400;
            line-height: 1.5;
    
            &--blue {
                color: $color-terra;
                font-weight: 700;
            } 
        }

        .info__paragraph {
            font-size: 2.5em;
            font-style: italic;
            font-weight: 400;
            line-height: 1.5;
        }
    }
}

@media (max-width: 380px) {
    .section__two .section__two-title {
        font-size: 3em;
    }
}

@media (max-width: 640px) {
    .information {
        flex-wrap: wrap;
    }
    .section__two .information__texts .info__title {
        font-size: 2em;
        line-height: 1.7;
    }
    .section__two .information__texts .info__paragraph {
        font-size: 2em;
        line-height: 1.7;
    }
}

