/* section projects */
.section__four {
    padding: 10px;

    & h3 {
        padding: 2rem;
        font-size: 5em;
        color: $color-black;
    }

    .projects__container {
        padding: 15px;
        display: grid;
        gap: 20px;
        text-align: center;
        justify-content: center;
        align-items: center;
        grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));

        .projects {
            background-color: $color-primary;
            border-radius: 10px;
            text-align: center;
            padding: 10px;

            .projects__img {
                height: 200px;
                width: 200px;
                border-radius: 50%;
                object-fit: cover;
                object-position: center;
            }
        }

        .projects__texts {
            color: $color-black;

            & h4 {
                font-size: 2.5em;
                padding-top: 10px;
                color: $color-terra;
            }

            & p {
                font-size: 1.8em;
                padding: 10px;
                color: $color-white;
            }

            & a {
                display: inline-block;
                color: $color-terra;
                font-size: 1.8em;
                font-weight: 500;
                padding: 1.5rem 2.5rem;
                background-color: $color-white;
                border-radius: 10px;
                border: 1px solid $color-terra;
                transition: all .3s ease-in-out;

                &:hover {
                    background-color: $color-secondary;
                }
            }
        }
    }
}

@media (max-width: 380px) {
    .section__four h3 {
        font-size: 3rem;
    }
}