/* section projects */
.section__four {
    padding: 1rem;

    & h3 {
        padding: 2rem;
        font-size: 5em;
        text-align: end;
        color: $color-black;
    }

    .projects__container {
        padding: 1.5rem;
        display: grid;
        gap: 2rem;
        text-align: center;
        justify-content: center;
        align-items: center;
        grid-template-columns: repeat(auto-fill, minmax(30rem, 32rem));

        .projects {
            background-color: $color-primary;
            border-radius: 1rem;
            text-align: center;
            padding: 1rem;

            .projects__img {
                height: 20rem;
                width: 20rem;
                border-radius: 50%;
                object-fit: cover;
                object-position: center;
            }
        }

        .projects__texts {
            color: $color-black;

            & h4 {
                font-size: 2.5em;
                padding-top: 1rem;
                color: $color-terra;
            }

            & p {
                font-size: 1.8em;
                padding: 1rem;
                color: $color-white;
            }

            & a {
                @extend .btn;
            }
        }
    }
}

@media (max-width: 300px) {
    .section__four .projects__container {
        grid-template-columns: repeat(auto-fill, minmax(25rem, 32rem));
    }
}

@media (max-width: 380px) {
    .section__four h3 {
        font-size: 3rem;
    }
}