/* section tecnologies */
.section__three {
    padding: 1rem;
    background-color: $color-primary;

    .tecnologies {
        padding: .5rem;
        
        .tecnologies__title {
            padding: 2rem;
            font-size: 5em;
            color: $color-white;
        }
    }

    .tecnologies__container {
        padding: 1.5rem;
        display: grid;
        gap: 2rem;
        text-align: center;
        justify-content: center;
        align-items: center;
        grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));

        .tecnologies__square {
            padding: 2rem;
            background-color: $color-secondary;
            border-radius: 1rem;
            transition: all .3s ease-in-out;
            border: 2px solid $color-secondary;
            cursor: pointer;
            
            &:hover {
                transform: scale(1.1);
                border: 2px solid $color-terra;
            }

            & h4 {
                font-size: 2.5em;
                color: $color-white;
                margin-top: .5rem;
            }

            .tecnogies__logo {
                padding: 1rem;
                height: 15rem;
                width: 15rem;
                object-fit: contain;
                object-position: center;
            }
            
        }
    }

}

// @media (max-width: 300px) {
//     .section__three .tecnologies__container {
//         grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
//     }
// }

@media (max-width: 1000px) {
    .section__three .tecnologies__container {
        grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
    }
}

@media (max-width: 580px) {
    .section__three .tecnologies__container {
        grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
    }
}

@media (max-width: 439px) {
    .section__three .tecnologies__container {
        grid-template-columns: repeat(auto-fill, minmax(18rem, 25rem));
    }
}

@media (max-width: 380px) {
    .section__three .tecnologies .tecnologies__title {
        font-size: 3em;
    }
}
